<nav>
	<a routerLink="/1" routerLinkActive="active">1. Создание Observable-объекта (потока) и его подписчиков</a> <br />
	<a routerLink="/2" routerLinkActive="active">2. Отписка от Observable-объекта - 1</a> <br />
	<a routerLink="/3" routerLinkActive="active">3. Отписка от Observable-объекта - 2</a> <br />
	<a routerLink="/4" routerLinkActive="active">4. Оповещение об ошибках Observable-объекта</a> <br />
	<a routerLink="/5" routerLinkActive="active">5. Отличие Observable от Promise</a> <br />
	<a routerLink="/6" routerLinkActive="active">6. Создание Observable-объектов на основе данных. <br /> RXJS методы: from, of, interval <br /> RXJS операторы: filter, map, take</a> <br />
	<a routerLink="/7" routerLinkActive="active">7. Создание Observable-объектов на основе событий</a> <br />
	<a routerLink="/8" routerLinkActive="active">8. RXJS операторы: scan, buffer, debounce</a> <br />
	<a routerLink="/9" routerLinkActive="active">9. RXJS операторы: take, map, flatMap. <br /> RXJS метод: timer</a> <br />
</nav>

<div id="sample-panel">
	<router-outlet></router-outlet>
</div>