Смотреть какая строится строка запроса во вкладке Network в браузере

<h3>GET-запрос</h3>
<button
	(click)="request_1()"
>GET 1</button>

<br>
<br>
<br>

<h3>GET-запрос с параметрами (вариант 1)</h3>
<input (keyup)="request_2($event)">

<br>
<br>
<br>

<h3>GET-запрос с параметрами (вариант 2)</h3>
<input (keyup)="request_3($event)"> 

<br>
<br>
<br>

<h3>POST-запрос</h3>
<input (keyup)="request_4($event)">

<br>
<br>
<br>

<h3>POST-запрос c хедерами</h3>
<input (keyup)="request_5($event)">

<br>
<br>
<br>

<h3>RXJS</h3>

<button
	(click)="request_6()"
>RXJS</button><br><br>

<span 
	*ngIf="loading"
	[style.color]="red" 
>LOADING ...</span>

<br>
<br>
<br>

<h3>DELETE-запрос</h3>
<input (keyup)="request_7($event)">

<br>
<br>
<br>